---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h2>404: Page not found. - <a href="../">Home</a></h2>
</BaseLayout>

<style>
  h2 {
    text-align: center;
  }

  a {
    color: #0000ee;
  }
</style>
