---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Based SMP">
  <div class="hide-on-small-screen based-smp-acronym-box">
    <b><u>Based SMP</u></b>
    <p>
      <b>B</b>. <span id="name1">Enable</span>
      <br />
      <b>A</b>. <span id="name2">JavaScript</span>
      <br />
      <b>S</b>. <span id="name3">Or</span>
      <br />
      <b>E</b>. <span id="name4">Ur</span>
      <br />
      <b>D</b>. <span id="name5">Gay</span>
      <br />
      <sup style="float: right">(smp)</sup>
    </p>
  </div>

  <header>
    <h2><u>The Based SMP</u></h2>
  </header>

  <p>IP: based-smp.duckdns.org</p>

  <main>
    <br />
    <div>
      <b>Rules:</b>
      <ul>
        <li>
          You cannot grief structures unless you have permission, own it, or
          otherwise know that the owners won't care if it gets destroyed. (If
          they do, that's your fault)
        </li>
        <li>No intentionally lagging the server or crashing other players.</li>
        <li>
          No dupicating items. (Gravity block dupication, such as TNT duping is
          fine)
        </li>
        <li>
          No hacking. Mods such as FullBright, that aren't usually considered to
          be 'hacking' are fine.
        </li>
      </ul>
    </div>

    <p>
      <b>The Based SMP Discord:</b>
      <br />
      <a href="https://discord.gg/3Kdu2AUxVR">
        https://discord.com/invite/3Kdu2AUxVR
      </a>
    </p>

    <p>
      <b>Modpack:</b>
      <br />
      <a href="https://modrinth.com/modpack/based-smp-modpack"
        >based smp modpack download</a
      >
      <br />
      <sup>
        If you have any trouble installing the modpack, please ask Cuboid for
        help.
      </sup>
    </p>

    <div class="hide-on-small-screen" style="float: right">
      <img src="icon.webp" alt="Server icon" width="400" height="400" />
      <br />
      <span>
        <span style="text-align: end; font-size: 8px">
          *may not be the actual name of the SMP
        </span>
        <span style="float: right">Icon and name by Blubby</span>
      </span>
      <hr />
    </div>
  </main>

  <script src="../scripts/serverAcronym.js"></script>
  <script src="../scripts/timeToServerLaunch.js"></script>
</BaseLayout>
